
#search_pre{
        margin: 0 auto;
        padding-top: 150px;
        width: 55%;
}
#search_pre .var-txt{
    color: chocolate;
    font-size: 18pt;
}
#main_jumbotron{
        background-color: beige;
        width: 100%;
        min-height: 350px;
        border-bottom: lightgray solid 5px;
}

@media screen and (min-width: 800px){
    header{
        margin-bottom:10px!important;
    }
    #search{
        position: relative!important;
        margin: 0 auto;
        left: 0%!important;
        width: 55%;
    }
}
