:root {
  --main-theme-color: #c99281;
  --link-color: #b94836;
  --items_background-color: #f9f3ee;
  --footer_background-color: #545c5d;
  --footer_bottom_background-color: #414a4c;
}

a:hover{
  opacity: 1;
}

.resource-link a: 
{
  font-weight: normal !important;
}

span .resource-name: {
  font-weight: normal !important;
}

legend 
{
  font-weight: normal;
  font-family: Garamond;
}


.MuiPaper-root nav {
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
}

.MuiPaper-root {
  margin: 0 !important;
  padding: 0 !important;
}

.mirador34.mirador33{
  border-top: 2px solid #b94836 !important;
}

.MuiFab-primary{
  background-color: #b94836 !important;
}



.blocks li a[href="/s/lib/page/altre-raccolte"]{
  background: url("../../img/miscellanea.png");
  background-size: cover;
  font-size: 22px !important;
  text-shadow: 1px 1px grey !important;
}

.blocks li a[href="/s/lib/page/fondo-giuseppe-raimondi"]{
  background: url("../../img/raimondi.png");
  background-size: cover;
  font-size: 22px !important;
  text-shadow: 1px 1px grey !important;
}

.blocks li a[href="/s/lib/page/fondo-giuseppe-raimondi"]:after{
  content: " \a Biblioteca Umanistica Ezio Raimondi";
  font-size: 16px;
  white-space: pre;
}

.blocks li a[href="/s/lib/page/fondo-piero-camporesi"]{
  background: url("../../img/Card.jpg");
  background-size: cover;
  font-size: 22px !important;
  text-shadow: 1px 1px grey !important; 
}

.blocks li a[href="/s/lib/page/fondo-piero-camporesi"]:after{
  content: "\a Biblioteca Umanistica Ezio Raimondi";
  font-size: 16px;
  white-space: pre;
}

.blocks li a[href="/s/lib/page/collezione-corbiere"]{
  background: url("../../img/Corbiere.jpg");
  background-size: cover;
  font-size: 22px !important;
  text-shadow: 1px 1px grey !important; 
}

.blocks li a[href="/s/lib/page/collezione-corbiere"]:after{
  content: "\a Biblioteca DISCI Unibo";
  font-size: 16px;
  white-space: pre;
}

.blocks li a[href="/s/lib/page/incunaboli"]{
  background: url("../../img/incunaboli.png");
  background-size: cover;
  font-size: 22px !important;
  text-shadow: 1px 1px grey !important; 
}


.blocks li a[href="/s/lib/page/fondo-giosue-carducci"]{
  background: url("../../img/Carducci.jpg");
  background-size: cover;
  font-size: 22px !important;
  text-shadow: 1px 1px grey !important;
}

.blocks li a[href="/s/lib/page/fondo-giosue-carducci"]:after{
  content: "\a Biblioteca Archivio Casa Carducci";
  font-size: 16px;
  white-space: pre;
}

.blocks li a[href="/s/lib/page/religione"]{
  background: url("../../img/religione.jpg");
  background-size: cover;
  text-shadow: 1px 1px grey !important;
  font-size: 21px !important;
}


.blocks li a[href="/s/lib/page/corpi"]{
  background: url("../../img/anatomia.jpg");
  background-size: cover;
  text-shadow: 1px 1px grey !important;
  font-size: 21px !important;
}

.blocks li a[href="/s/lib/page/genere"]{
  background: url("../../img/donne.jpg");
  background-size: cover;
  font-size: 22px !important;
  text-shadow: 1px 1px grey !important; 
}

.blocks li a[href="/s/lib/page/letteratura-satirica"]{
  background: url("../../img/cicceide.jpg");
  background-size: cover;
  font-size: 22px !important;
  text-shadow: 1px 1px grey !important; 
}

.blocks li a[href="/s/lib/page/prose-bembo"]{
  background: url("../../img/Bembo.png");
  background-size: cover;
  text-shadow: 1px 1px grey !important;
  font-size: 21px !important;
}

.blocks li a[href="/s/lib/page/bembo-livello-base"]{
  background-color: #b94836 ;
  background-size: cover;
  text-shadow: 1px 1px grey !important;
  font-size: 21px !important;
}

.blocks li a[href="/s/lib/page/bembo-livello-intermedio"]{
  background-color: #b94836;
  background-size: cover;
  text-shadow: 1px 1px grey !important;
  font-size: 21px !important;
}

.blocks li a[href="/s/lib/page/bembo-livello-avanzato"]{
  background-color: #b94836;
  background-size: cover;
  text-shadow: 1px 1px grey !important;
  font-size: 21px !important;
}

.assets .center {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.asset img{
  width: 100%;
}


.UBO3343368
{
  float: left;
  padding-top:2%;
  padding-bottom: 2%;
  width: 50%;
  margin-right: 5%;
  text-align: justify;
}

.UBO3343368 + .carousel-block
{
  padding-top:2%;
}


.UBO2852498 {
  padding-bottom: 2%;
  width: 50%;
  float: left;
  margin-right: 5%;
  text-align: justify;
  
}


.UBO3531889 {
  float: left;
  padding-bottom: 2%;
  width: 50%;
  margin-right: 5%;
  text-align: justify;
}

footer{
      text-align: center;
      border-top: lightgray solid 2px;
      border-bottom: lightgray solid 1px;
      margin: 0!important;
      max-width: none!important;
      padding: 0!important;
      background-color: var(--footer_background-color);
}
footer p{
  margin: 0!important;
}
footer a{
  color: lightgray!important;
  opacity: 0.85;
  text-decoration: underline!important;
}
footer .top-footer{
  margin: 0 auto;
  width: 80%;
  text-align:center;
  padding: 30px;
  padding-top: 25px;
  padding-bottom: 20px;
}
footer .bottom-footer{
  color: lightgray;
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: var(--footer_bottom_background-color);
}

footer .top-footer .first-section{
  vertical-align: top;
  max-width: 40%;
  display: inline-block;
  text-align:left;
}

.row-count {
  font-family: Garamond;
}

.page-count {
  font-family: Garamond;
}

footer .top-footer .second-section{
  margin-left: 35%;
  width: 300px;
  vertical-align: top;
  text-align:left;
  display: inline-block;
}

footer .bottom-footer{
}

footer .footer-text{
  font-size: 9pt;
}
footer .footer-separator{
  font-size: 9pt;
  color: lightgray;
}

footer .title{
  font-size: 12pt;
  color: lightgray;
}

.slick-slide .slide-text .title {
  font-weight: normal;
  font-family: Garamond;
}

.slick-slide {

}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    display: block !important;
}

.blocks .slick-dots li {
position: relative;
display: inline-block;
width: 20px;
margin: 0 5px;
padding: 0;
cursor: pointer;
align-items: none;
justify-content: none;
border-radius: none;
border: none;
min-height: 10px;
background-color: transparent !important;
background: none;

}

#search-page h2 {
display:none;
}

#search-page {
  padding-top: 40px;
}

#advanced-search-form {
  padding-left: 0;
  padding-right: 0;
}


#advanced-search-form .field {
  margin: 5px 0;
  font-size: 20px;
}


#advanced-search-form .field .field-meta {
  width: 10%;
}

#advanced-search-form legend {
  font-size: 20px;
  padding-left: 0 !important;
  padding-top: 15px;
}

.search-pagination-per-page label {
  font-size: 20px !important;
}

#advanced-search-form .form-search {
  margin-bottom: 40px;
}

#advanced-search-form .form-search button{
  font-size: 12pt;
        background-color: var(--link-color);
        color: white;
        border-radius: 5px;
        opacity: 0.8;
        width: 25%;
}


#advanced-search-form .form-search button{
  font-size: 12pt;
        background-color: var(--link-color);
        color: white;
        border-radius: 5px;
        opacity: 0.8;
        width: 25%;
}

.sorting button {
  font-size: 20px;
        background-color: var(--link-color);
        color: white;
        border-radius: 5px;
        opacity: 0.8;
}


.index #content .title {
  font-family: Garamond !important;
  font-size: 25px;
}

.items .resultus {
  font-family: Garamond;
}

.blocks .about {
  padding:8%;
  background: url('../../img/Card.jpg');
  background-size: cover;
  border-radius: 0.5rem;
  border: 0.1rem solid #dedede;
  color: grey;
}


.blocks .about-text {
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 0.5rem;
  background-color: #f9f3ef;
  font-family: Garamond !important;
  color: black;
  text-align: justify;
}

.blocks .comitato {
  padding-top: 3%;
  color: grey;
  font-family: Garamond !important;
  color: black;
  text-align: justify;
}

.slick-prev {
font-size: 0;
line-height: 0;
position: absolute;
top: 30% !important;
display: block;
width: 20px;
height: 20px;
padding: 0;
-webkit-transform: translate(0, -50%);
-ms-transform: translate(0, -50%);
transform: translate(0, -50%);
cursor: pointer;
color: transparent;
border: none;
outline: none;
background: transparent;
}

.slick-next {
  top: 30% !important;
}

#linked-filter {
  display: none !important;
}

.item-show > a[href="/s/lib/item-set/17728"] + div #item-linked {
  display: block;
}


.results > h2{
  display: none;
}


.results >a {
  color: black !important;
  text-decoration: underline !important;
}



@media screen and (min-width: 800px){

    header{
        padding: 0%!important;
        padding-right: 15px!important;
        padding-left: 15px!important;
        margin-bottom: 0%!important;
    }
    header nav{
        display: inline-block;
        font-size: 17px;
        width: 60%!important;
        padding: 0%!important;
        color: black!important;
    }
    header nav .navigation li.active{
      background-color: white!important;
    }
    
    header nav .navigation li a:hover{
      color: var(--link-color);
    }


    .site-title{
        display: inline-block!important;
        width: fit-content;
        padding:0 0 0 0!important;
        margin-right: 0%!important;
    }

    body.page #content{
      padding: 0!important;
      margin-left: 0!important;
      margin-right: 0!important;
      max-width: none;
    }

    body.page #content .blocks{
      padding-right: 8%!important;
      padding-left: 8%!important;
      height: fit-content;
      margin-bottom: 5% !important;
      margin-top: 2.5% !important;
      text-align: justify;
    }

    #search{
        display: inline-block;
        position:relative!important;
        width: 24%!important;
        left: 0%!important;
        border: none!important;
        padding-right: 0%!important;
        margin-top: 15px;
        float: right;
    }

    .site_pages > a:
    {
      background: transparent !important;
      text-shadow: none !important;

    }

    #main_jumbotron{
            background-image: url("../../img/bg_img_4.jpg");
            image-rendering: -webkit-optimize-contrast;
            background-repeat:no-repeat;
            /*background-size: cover;
            background-size: 100% 100%; */
	          background-attachment: fixed;
            background-position: center;
            background-color: transparent;
            opacity: 1;
            width: 100%;
            min-height: 430px;
    }

    #jumbotron_search{
        margin-top: 10px;
    }
    #jumbotron_search input{
        font-size: 12pt;
        width: 80%;
    }
    #jumbotron_search button{
        font-size: 12pt;
        background-color: var(--link-color);
        color: white;
        border-radius: 5px;
        opacity: 0.8;
        width: 18%;
    }
    #jumbotron_search button:hover{
      opacity: 1;
    }

    #search_container{
            position: relative;
            margin: 0 auto;
            left: 0%!important;
	           display: table;
            background-color: rgba(247, 247, 247,0.83) ;
            top: 150px;
            padding: 15px;
            border: solid lightgray 2px;
            border-radius: 10px;
    }
    #search_pre .var-txt{
            color: #b94836;
            font-size: 17pt;
            font-family: Garamond;
    }

    #search_pre .fixed-txt{
            font-size: 15pt;
            font-family: Garamond;

    }

    #content #main_jumbotron{
      padding: 0 !important;
      width: 100%;
    }
    .item-showcase-title{
      display: none;
    }
    .item-showcase-title a{

    }
    .item-showcase{
      margin: 0 auto!important;
      margin-top: 5px!important;
      margin-bottom: 15px!important;
      background-color: var(--items_background-color);
      border: lightgray solid 2px!important;
      max-width: 80%;
      border-radius: 10px;
    }
    
    .item-showcase .item.resource{
      opacity: 1;
    }
    .item-showcase .item.resource:hover{
      opacity: 0.7;
    }

    .item-showcase h3 {
      color: grey !important;
      font-style: normal !important;
    }

    .schedabiblio {
      margin-top: 2%;
      margin-bottom: 5%;
      color: white;
      background-color: #b94836;
      padding: 5%; 
      border-radius: 15px;
   
    }


  
    .GiulianoDeMedici > .asset img{
      height: 250px;
      width: auto;
      float: right;
      margin-right:0;
      margin-top: 0;
      border-radius: 15px;
    }

    .giulianodemedici p > strong {
      color: #b94836;
    }

    .ercolestrozzi p > strong {
      color: #b94836;
    }

    .carlobembo p > strong {
      color: #b94836;
    }

    .federicofregoso p > strong {
      color: #b94836;
    }


    .ErcoleStrozzi > .asset img{
      height: 250px;
      width: auto;
      float: right;
      margin-top: 0;
      border-radius: 15px;
    }


    .ercolestrozzi {
            margin-bottom: 10%;
    }

    .carlobembo {
      margin-bottom: 5%;
    }

    .FedericoFregoso > .asset img{
      height: 250px;
      width: auto;
      float: left;
      margin-left: 0;
      border-radius: 15px;
      margin-top: 40px;
    }

    .federicofregoso {
      margin-top: 5%;
      margin-bottom: 5%;
    }

    .storytelling {
      margin-top: 3%;
    }

    .palazzo_bembo td {
      width: 33%;
      border-bottom: none;
      padding: 2%;
      background-color: #b94836;
      border-radius: 15px;
      color: white;
    }

    .novita  td {
      width: 50%;
      border-bottom: none;
      padding: 2%;
      background-color: #b94836;
      border-radius: 15px;
      color: white;
    }


    .DeAetna > .asset img{
      height: 400px;
      width: auto;
      float: left;
      margin-left: 0;
      border-radius: 15px;
    }

    .Manuzio > .asset img{
      height: 400px;
      width: auto;
      float: right;
      border-radius: 15px;
    }

     .TerzoProse > .asset img{
      height: 500px;
      width: auto;
      float: left;
      border-radius: 15px;
    }

    .punzoni > .asset img{
      width: 350px;
      height: auto;
      border-radius: 15px;
      float: right;
    }

    .set > .asset img{
      height: 350px;
      width: auto;
      float: left;
      border-radius: 15px;
    }

    .forma > .asset img{
      height: 350px;
      width: auto;
      border-radius: 15px;
      float: right;
    }

    .torchio > .asset img{
      height: 350px;
      width: auto;
      border-radius: 15px;
      float: right;
    }

    .caratteri_mobili > .asset img{
      height: 350px;
      width: auto;
      border-radius: 15px;
      float: left; 
    }

    .fumetto {
      background-color: #b94836;
      border-radius: 15px;
      color: white;
      padding: 2%;
    }

    .glossarioBembo td {
      width: 20%;
      border-bottom: none;
      padding: 2%;
      vertical-align: text-top !important;
      border: 2px solid !important;
      border-color:  #b94836 !important;
      border-radius: 15px !important;
    }

    .attachments img {
      border-radius: 15px;}

    body.item.resource.show #content
    {
      padding-top: 2% !important;
    }

    body.item.resource.show #content .title{
      font-size: 20pt;
    }
    body.item.resource.show #content .property + .property{
      margin: 0px!important;
    }
    
    body.item.resource.show #content .property h4{
      font-size: 18px;
    }
    .mirador.viewer.mirador-container{
      clear: both;
    }

    .item-show{
       display: inline-flex;
    }

    .item-media{
       float:left;
       /* position: relative; */
       width:30%;
       max-width: 300px;
       margin-right: 10px;
    }

    .item-img{
      border-radius: 15px;
    }

    .item-view-button {
      position: absolute;
      width: 150px;
      height: 40px;
      margin-top: 10px;
      margin-left: 10px;
      padding: 5px;
      border-radius: 5px;
      background-color: #577284; /* blue #0052cc | green #006622 */
      color: white!important;
      font-size: 18px;
      text-align: center;
      display: none;
    }

    .item-view-button:visited {
      color: white!important;
    }

    .item-view-img:hover .item-view-button{
      display: block;
    }

    .item-view-img:hover {
      opacity: 0.9;
    }

    .item-export{
    }

    .item-iiif-img{
      background-image: url("../../img/IIIF_logo.png");
      background-repeat: no-repeat;
      background-size: cover;
      width: 35px;
      height: 35px;
    }

    .item-json-img{
      background-image: url("../../img/JSON_logo.png");
      background-repeat: no-repeat;
      background-size: cover;
      width: 35px;
      height: 35px;
    }

    .item-metadata{
      float:left;
      width:100%;
      max-width: 900px;
      min-width: 650px;
      padding-left: 2%;
    }

    
    .page.view-mirador
    #mirador-view{
      padding: 0;
      margin: 0;
      width: 100%;
      height: 100vh;
    }
    .page.view-mirador
    footer{
      display: none !important;
    }

    .item.resource.show footer{

    }

    
    }


}

}
