:root {
  --main-theme-color: #c99281;
  --link-color: #b5692b;
  --link-hover-color: #96e3fa;
  --background-color: #f7f7f7;
  --items_background-color: #faf5f0;
}

@media screen and (min-width: 800px){

    footer{
        border-top: lightgray solid 2px;
        background-color: white;
        padding-right: 15px!important;
        padding-left: 15px!important;
        padding-top: 15px!important;
    }

    header{
        padding: 0%!important;
        padding-right: 15px!important;
        padding-left: 15px!important;
        margin-bottom: 0%!important;
    }
    header nav{
        display: inline-block;
        font-size: 9pt;
        width: 45%!important;
        padding: 0%!important;
    }
    .site-title{
        display: inline-block!important;
        width: fit-content;
        padding:0 0 0 0!important;
        margin-right: 0%!important;
    }

    body.page #content{
      padding: 0!important;
      padding-top: 5px!important;
    }
    body.page #content .blocks{
      padding-right: 3%!important;
      padding-left: 3%!important;
    }

    #search{
        display: inline-block;
        position:relative!important;
        width: 24%!important;
        left: 0%!important;
        border: none!important;
        padding-right: 0%!important;
        margin-top: 10px;
        float: right;
    }

    #main_jumbotron{
            background-image: url("../../img/bg_img_2.jpg");
            background-repeat:no-repeat;
            background-size: cover;
            background-size: 100% 100%;
            background-color: #a16c6c;
            opacity: 0.9;
            width: 100%;
            min-height: 400px;
            border-bottom: lightgray solid 5px;
    }

    #jumbotron_search{
        margin-top: 10px;
    }
    #jumbotron_search input{
        font-size: 13pt;
        width: 80%;
    }
    #jumbotron_search button{
        font-size: 13pt;
        background-color: var(--link-color);
        color: white;
    }

    #search_container{
            position: relative;
            margin: 0 auto;
            left: 0%!important;
	    display: table;
            background-color: rgba(247, 247, 247,0.7) ;
            top: 150px;
            padding: 15px;
            border: solid lightgray 2px;
            border-radius: 10px;
    }
    #search_pre .var-txt{
            color: chocolate;
            font-size: 18pt;
    }
    #content #main_jumbotron{
            padding: 0!important;
    }

    .item-showcase-title{
      margin: 0 auto;
      max-width: 80%;
      margin-top: 30px;
      font-size: 14pt;
    }
    .item-showcase-title a{
      color: var(--link-color)!important;
    }
    .item-showcase{
      margin: 0 auto!important;
      margin-top: 5px!important;
      margin-bottom: 15px!important;
      background-color: var(--items_background-color);
      border: lightgray solid 2px!important;
      max-width: 80%;
      border-radius: 10px;
    }
    .item-showcase .item.resource{
      opacity: 0.7;
    }
    .item-showcase .item.resource:hover{
      opacity: 1;
    }


    body.item.resource.show #content{
      padding-right: 60px;
      padding-left: 60px;
    }
    body.item.resource.show #content .title{
      font-size: 20pt;
    }
    body.item.resource.show #content .property + .property{
      margin: 0px!important;
    }
    body.item.resource.show #content .property .values{
      font-size: 12pt;
      border: 0.5px solid lightgray;
      background-color: white;
      width: 75%;
      padding: 5px;
      border-radius: 7px;
    }
    body.item.resource.show #content .property h4{
      font-size: 13pt;
    }
    .mirador.viewer.mirador-container{
      clear: both;
    }

    .item-img{
      border-radius: 15px;
    }

    .item-show{
    }
    .item-media{
       float:left;
       width:30%;
    }
    .item-metadata{
       float:left;
       width:70%;
    }

    .page.view-mirador
    body{
    }

    .page.view-mirador
    #mirador-view{
      padding: 0;
      margin: 0;
      width: 100%;
      height: 100vh;
    }
    .page.view-mirador
    footer{
      display: none !important;
    }

}

@media screen and (max-width: 800px){
  #main_jumbotron{
    display: none;
  }
}
